.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap; // allow us to do the line break for collapsing content
	align-items: center;
	justify-content: space-between; // space out brand from logo

    border: 0;
    //border-radius: $border-radius-base;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: #555;
    //background-color: #fff!important;
	//box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);

	&.transparent {
        background-color: transparent !important;
        box-shadow: none;
    }
	
	> .container,
	> .container-fluid {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	ul.nav {
		display: inline-flex;

		> li.item {
			> a.link {
			// 	color: inherit;
			// 	//font-size: $mdb-btn-font-size-base;
			// 	//border-radius: $border-radius-base;
			// 	&:hover {
			// 		background: rgba(0,0,0,0.2);
			// 	}

				text-decoration: none;

				color: #{ map-get($navbar-nav-item-link, 'color') };
				display: #{ map-get($navbar-nav-item-link, 'display') };
				position: #{ map-get($navbar-nav-item-link, 'position') };
				border: #{ map-get($navbar-nav-item-link, 'border') };
				background: #{ map-get($navbar-nav-item-link, 'background') };
				box-shadow: #{ map-get($navbar-nav-item-link, 'box-shadow') };
				transition: #{ map-get($navbar-nav-item-link, 'transition') };

				line-height: #{ map-get($navbar-nav-item-link, 'line-height') };
				text-transform: #{ map-get($navbar-nav-item-link, 'text-transform') };
				font-weight: #{ map-get($navbar-nav-item-link, 'font-weight') };

				padding: #{ map-get($navbar-nav-item-link, 'padding') };
				margin: #{ map-get($navbar-nav-item-link, 'margin') };

				&:hover {
					color: #{ map-get($navbar-nav-item-link-hover, 'color') };
					border: #{ map-get($navbar-nav-item-link-hover, 'border') };
					box-shadow: #{ map-get($navbar-nav-item-link-hover, 'box-shadow') };
					background: #{ map-get($navbar-nav-item-link-hover, 'background') };
				}
			}
		}

		> li.item.active {
			> a.link {
				color: #{ map-get($navbar-nav-item-link-active, 'color') };
				border: #{ map-get($navbar-nav-item-link-active, 'border') };
				box-shadow: #{ map-get($navbar-nav-item-link-active, 'box-shadow') };
				background: #{ map-get($navbar-nav-item-link-active, 'background') };
			}
		}
	}
}
