// navbar > nav > item > link 
$navbar-nav-item-link: (
	'color': 'black',
	'display': 'block',
	'position': 'relative',
	'border': 'none',
	'background': 'transparent',
	'box-shadow': 'none',

	'transition': '0.2s',

	'line-height': '1.0',

	'text-transform': 'uppercase',
	'font-weight': '700',

	'padding': '14px 20px 14px 20px',
	'margin': '0',
);

$navbar-nav-item-link-hover: (
	'color': 'black',
	'border': 'none',
	'box-shadow': 'none',
	'background': map-get($global-color-catalog, 'yellow'),
);

$navbar-nav-item-link-active: (
	'color': 'white',
	'border': 'none',
	'box-shadow': 'none',
	'background': lighten(map-get($global-color-catalog, 'gray'), 15%),
);
